<div class="grid-container">
  <mat-stepper linear="true" #stepper>
    <div *ngIf="hasGeneratedTicket() == false">
    <mat-step [completed]="hasSelectedAtLeastOneEvent()">
      <ng-template matStepLabel>Wybór wydarzeń</ng-template>
      <app-list-available-events></app-list-available-events>
      <div>
        <div class="button-wrapper">
          <button color="accent" class="fixedButton" mat-raised-button matStepperNext [matTooltip]="hasSelectedAtLeastOneEvent() ? 'Kliknij, aby przejść dalej' : 'Wybierz co najmniej 1 wydarzenie, aby przejść dalej'">
            Dalej
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step [completed]="hasConfirmedDataInForm() && hasFilledAllDataInUser()">
      <ng-template matStepLabel><span
          [matTooltip]="hasSelectedAtLeastOneEvent() ? 'Kliknij, aby przejść dalej' : 'Wybierz co najmniej 1 wydarzenie, aby przejść dalej'">Formularz</span>
      </ng-template>
      <app-new-user-form></app-new-user-form>
      <div class="button-wrapper">
        <button mat-raised-button matStepperPrevious color="primary">
          Wstecz
        </button>
        <div class="spacer"></div>
        <button mat-raised-button matStepperNext [matTooltip]="getFormTooltip()" color="accent">
          Dalej
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="hasConfirmedTicket()">
      <ng-template matStepLabel><span
          [matTooltip]="getSummaryTooltip()">Podsumowanie</span>
      </ng-template>
      <app-summary></app-summary>
      <div class="button-wrapper">
        <button mat-raised-button matStepperPrevious color="primary">
          Wstecz
        </button>
        <div class="spacer"></div>
        <div class="clickable" matTooltip="Opcja umożliwia wygenerowanie biletu" (click)="openDialogConfirmationBox(stepper)">
          <div class="spacer"></div>
         <button mat-raised-button color="accent">Wygeneruj bilet</button>
        </div>
      </div>
    </mat-step>
    </div>
    </mat-stepper>
    <div *ngIf="hasGeneratedTicket()">
      <app-ticket></app-ticket>
      <div class="button-wrapper">
        <div class="clickable" matTooltip="Opcja umożliwia anulowanie zapisu" (click)="openDialogCancellationBox(stepper)">
          <button mat-raised-button color="warn">Anuluj bilet</button>
         </div>
      </div>
    </div>  
</div>