<div class="grid-container">
  <h1 class="mat-h1">Przegląd wydarzeń</h1>
  <mat-tab-group
  (focusChange)="myTabFocusChange($event)"
  (selectedIndexChange)="myTabSelectedIndexChange($event)"  
  (selectedTabChange)="myTabSelectedTabChange($event)"
  (animationDone)="myTabAnimationDone()">
  <mat-tab label="Wybór wydarzeń">
    <app-list-available-events></app-list-available-events>
  </mat-tab>
  <mat-tab label="Logowanie">
     <app-login-form></app-login-form>
  </mat-tab>
  <mat-tab label="Formularz">
     <app-new-user-form></app-new-user-form>
  </mat-tab>
  <mat-tab label="Podsumowanie"> Content for Tab 3 </mat-tab>
  <mat-tab label="Generacja biletu"> Content for Tab 3 </mat-tab>
  </mat-tab-group> 
</div>
