<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Zaloguj się</h2>
        <mat-error *ngIf="!loginValid">
          Email i/lub hasło nie są poprawne
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
          <mat-error>
            Proszę wpisać poprawny email
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Hasło" [(ngModel)]="password" name="password" required>
          <mat-error>
            Proszę wpisać poprawne hasło
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="onClick()">Zaloguj się</button>
      </form>
    </mat-card-content>
  </mat-card>
  