<mat-toolbar color="primary">
  <span>Events</span>
  <span class="example-spacer"></span>
      <div *ngIf="!isLoggedIn(); else Wyloguj">
        <button mat-flat-button class="zaloguj" color="basic">Zaloguj</button>
      </div>
      <ng-template #Wyloguj>
        <button mat-flat-button class="zaloguj" color="basic" (click)="onLogoutClick()">Wyloguj</button>
      </ng-template>
      <span class="spacer"></span>
      <button mat-flat-button class="zaloguj" color="accent">Rejestracja</button>
</mat-toolbar>