<mat-grid-list cols="1" rowHeight="25px">
    <mat-grid-tile>Imię: {{getName()}}</mat-grid-tile>
    <mat-grid-tile>Nazwisko: {{getLastname()}}</mat-grid-tile>
    <mat-grid-tile>Adres: {{getAddress()}}</mat-grid-tile>  
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="100%">    
    <mat-card>Wybrane wydarzenia:</mat-card>
    <mat-card color="accent" class="SelectedEvents" *ngFor="let event of getSelectedEvents()">
        <mat-card-title>{{event.title}}</mat-card-title>
        <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
    </mat-card>
</mat-grid-list>