::ng-deep .mat-tooltip {
    font-size: 14px; 
  }

.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.content{
  margin-top: 10vh;
  z-index: 0;
}
