mat-card{
  background-color:#ffffff;
  width: 30%;
  text-align: center;
  position: center;
  margin-left: auto;
  margin-right: auto;
  outline-color: black;
  margin-top: 1vh;
  min-width: 250px;
  overflow: hidden;
  outline: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
} 
mat-grid-list {
  overflow: hidden;
}
.SelectedEvents{
  background-color: cadetblue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clickable {
  cursor: pointer;
}