<mat-card-subtitle>
  <div class="licznik">Zapisałeś się na {{ eventsSelected() }} z max 3 wydarzeń</div>
</mat-card-subtitle>
<!-- 
<mat-grid-list cols="2" rowHeight="150px">
  <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{card.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div class="bolt">{{card.content}}</div>
        <mat-card class="opis">
          <div>{{card.opis}}</div>
        </mat-card>
        <section class="example-section">
          <mat-checkbox #c class="example-margin"
            [matTooltip]=" c.disabled === true ? 'Można zapisać się maksymalnie na 3 wydarzenia' : '' "
            [disabled]="!c.checked && eventsSelected() >= 3" (change)="onCheckboxChange($event, card)">Zapisz się!
          </mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->



<div *ngFor="let eventDay of agenda">
  <mat-card>
    <mat-card-title>{{eventDay.date}}</mat-card-title>
    <mat-card-content>
     
      <mat-grid-list cols="5" rowHeight="100px">
        <div *ngFor="let card of eventDay.events">
          <mat-grid-tile cols="4" rows="1">
            <mat-card class="eventCard" matTooltip="Kliknij po więcej informacji" (click)="openDialog($event, card)">
              <mat-card-title>{{card.time}}</mat-card-title>
              <mat-card-content>{{card.title}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile cols="1" rows="1">
            <mat-checkbox #c class="example-margin"
            [matTooltip]=" c.disabled === true ? 'Można zapisać się maksymalnie na 3 wydarzenia' : '' "
            [disabled]="!c.checked && eventsSelected() >= 3" (change)="onCheckboxChange($event, card)">Zapisz się!
          </mat-checkbox>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>