<mat-card-subtitle>
  <div class="licznik">Zapisałeś się na {{ eventsSelected() }} z max 3 wydarzeń</div>
</mat-card-subtitle>


<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Poniedziałek">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="bolt">{{card.content}}</div>
            <mat-card class="opis">
              <div>{{card.opis}}</div>
              <img class="image" mat-card-image
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.24OGqpWwO%252fyl4D7j3A6nlg%26pid%3DApi&f=1"
                alt="Photo of a Shiba Inu">
            </mat-card>
            <section class="example-section">
              <mat-checkbox #c class="example-margin"
                [matTooltip]=" c.disabled === true ? 'Można zapisać się maksymalnie na 3 wydarzenia' : '' "
                [disabled]="!c.checked && eventsSelected() >= 3" (change)="onCheckboxChange($event, card)">Zapisz się!
              </mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Środa">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="bolt">{{card.content}}</div>
            <mat-card class="opis">
              <div>{{card.opis}}</div>
              <img class="image" mat-card-image
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.24OGqpWwO%252fyl4D7j3A6nlg%26pid%3DApi&f=1"
                alt="Photo of a Shiba Inu">
            </mat-card>
            <section class="example-section">
              <mat-checkbox #c class="example-margin"
                [matTooltip]=" c.disabled === true ? 'Można zapisać się maksymalnie na 3 wydarzenia' : '' "
                [disabled]="!c.checked && eventsSelected() >= 3" (change)="onCheckboxChange($event, card)">Zapisz się!
              </mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Piątek">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="bolt">{{card.content}}</div>
            <mat-card class="opis">
              <div>{{card.opis}}</div>
              <img class="image" mat-card-image
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.24OGqpWwO%252fyl4D7j3A6nlg%26pid%3DApi&f=1"
                alt="Photo of a Shiba Inu">
            </mat-card>
            <section class="example-section">
              <mat-checkbox #c class="example-margin"
                [matTooltip]=" c.disabled === true ? 'Można zapisać się maksymalnie na 3 wydarzenia' : '' "
                [disabled]="!c.checked && eventsSelected() >= 3" (change)="onCheckboxChange($event, card)">Zapisz się!
              </mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>