<div class="form-wrapper">
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Imię</mat-label>
            <input matInput [disabled]="userConfirmedDataInForm()" [(ngModel)]="getUser().name" (ngModelChange)="changeValue()" name="user" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nazwisko</mat-label>
            <input matInput [disabled]="userConfirmedDataInForm()" [(ngModel)]="getUser().lastname" (ngModelChange)="changeValue()" name="lastname" required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Adres</mat-label>
        <textarea matInput [disabled]="userConfirmedDataInForm()" [placeholder]="getUser().road" [(ngModel)]="getUser().road" (ngModelChange)="changeValue()"
          name="road" required>ul.</textarea>
      </mat-form-field>
    </p>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Miasto</mat-label>
            <input matInput [disabled]="userConfirmedDataInForm()" [placeholder]="getUser().city" [(ngModel)]="getUser().city" (ngModelChange)="changeValue()"
              name="city" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kod pocztowy</mat-label>
            <input [disabled]="userConfirmedDataInForm()" matInput #postalCode maxlength="6" [placeholder]="getUser().zipcode" value=""
              [(ngModel)]="getUser().zipcode" (ngModelChange)="changeValue()" name="zipcode" required>
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="checkbox-wrapper">
      <mat-checkbox [disabled]="!hasFilledAllDataInUser()" [checked]="isFormFilled()" (change)="onCheckboxChange($event)">Zatwierdź dane</mat-checkbox>
    </div>
  </form>
</div>