<form class="example-form">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput [(ngModel)]="getMockupUser().name" name="user" required>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput [(ngModel)]="getMockupUser().lastname" name="lastname" required>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Adres</mat-label>
        <textarea matInput [placeholder]="getMockupUser().road" [(ngModel)]="getMockupUser().road" name="road" required>ul.</textarea>
      </mat-form-field>
    </p>
   <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Miasto</mat-label>
        <input matInput [placeholder]="getMockupUser().city" [(ngModel)]="getMockupUser().city" name="city" required>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Kod pocztowy</mat-label>
        <input matInput #postalCode maxlength="6" [placeholder]="getMockupUser().zipcode" value="" [(ngModel)]="getMockupUser().zipcode" name="zipcode" required>
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>     
    </tr></table>
  </form>
<button mat-raised-button color="primary" (click)="validateData()">validateData()</button>
