.example-form {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    display: block;
    min-width: 300px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }

  .zarejestruj {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    display: block;
    min-width: 150px;
    width: 100%;
  }
  