<form class="example-form">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput [(ngModel)]="newUser.login" name="email" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Hasło</mat-label>
                    <input matInput type="password" [(ngModel)]="newUser.password" name="password" required>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Imię</mat-label>
                    <input matInput [(ngModel)]="newUser.name" name="user" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nazwisko</mat-label>
                    <input matInput [(ngModel)]="newUser.lastname" name="lastname" required>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Adres</mat-label>
            <textarea matInput [(ngModel)]="newUser.road" name="road" required>ul.</textarea>
        </mat-form-field>
    </p>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Miasto</mat-label>
                    <input matInput [(ngModel)]="newUser.city" name="city" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Kod pocztowy</mat-label>
                    <input matInput #postalCode maxlength="6" value="" [(ngModel)]="newUser.zipcode" name="zipcode"
                        required>
                    <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                </mat-form-field>
            </td>
        </tr>
    </table>
</form>

<button mat-raised-button class="zarejestruj" color="accent" [disabled]="!hasFilledAllDataInUser()"
    (click)="onRegisterClick()" [matTooltip]="hasFilledAllDataInUser() ? '' : 'Wypełnij wszystkie pola'">
        Zarejestruj się</button>
        